/* FONTS */

/* IBM PLEX SERIF */

/* THIN 100 */

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Thin-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Thin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Thin.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Thin.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Thin.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Thin.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Thin.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ThinItalic-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ThinItalic-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ThinITalic.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ThinITalic.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ThinITalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ThinITalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ThinITalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* EXTRA-LIGHT 200 */

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLight-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLight-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLight.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLight.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLight.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLight.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLight.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLightItalic-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLightItalic-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLightItalic.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLightItalic.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLightItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-ExtraLightItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* LIGHT 300 */

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Light-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Light-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Light.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Light.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Light.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Light.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Light.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-LightItalic-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-LightItalic-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-LightItalic.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-LightItalic.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-LightItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-LightItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-LightItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* REGULAR 400 */

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Regular-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Regular-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Regular.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Regular.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Regular.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Regular.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Regular.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-RegularItalic-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-RegularItalic-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-RegularItalic.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-RegularItalic.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-RegularItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-RegularItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-RegularItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* MEDIUM 500 */

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Medium-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Medium-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Medium.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Medium.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Medium.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Medium.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Medium.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-MediumItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* SEMI-BOLD 600 */

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBold-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBold-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBold.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-SemiBoldItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* BOLD 700 */

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-Bold.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic-ext.woff2');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.woff');
  src: url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.woff') format('woff'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSerif/IBMPlexSerif-BoldItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* MULI */

/* 200 EXTRA LIGHT */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/muli/Muli-ExtraLightItalic-Ext.woff2');
  src: url('../fonts/muli/Muli-ExtraLightItalic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/muli/Muli-ExtraLightItalic.woff');
  src: url('../fonts/muli/Muli-ExtraLightItalic.woff') format('woff'),
    url('../fonts/muli/Muli-ExtraLightItalic.woff2') format('woff2'),
    url('../fonts/muli/Muli-ExtraLightItalic.ttf') format('truetype'),
    url('../fonts/muli/Muli-ExtraLightItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/muli/Muli-ExtraLight-Ext.woff2');
  src: url('../fonts/muli/Muli-ExtraLight-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/muli/Muli-ExtraLight.woff');
  src: url('../fonts/muli/Muli-ExtraLight.woff') format('woff'),
    url('../fonts/muli/Muli-ExtraLight.woff2') format('woff2'),
    url('../fonts/muli/Muli-ExtraLight.ttf') format('truetype'),
    url('../fonts/muli/Muli-ExtraLight.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* // 300 LIGHT */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/muli/Muli-LightItalic-Ext.woff2');
  src: url('../fonts/muli/Muli-LightItalic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/muli/Muli-LightItalic.woff') format('woff');
  src: url('../fonts/muli/Muli-LightItalic.woff') format('woff'),
    url('../fonts/muli/Muli-LightItalic.woff2') format('woff2'),
    url('../fonts/muli/Muli-LightItalic.ttf') format('truetype'),
    url('../fonts/muli/Muli-LightItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/muli/Muli-Light-Ext.woff2') format('woff2');
  src: url('../fonts/muli/Muli-Light-Ext.woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/muli/Muli-Light.woff');
  src: url('../fonts/muli/Muli-Light.woff') format('woff'),
    url('../fonts/muli/Muli-Light.woff2') format('woff2'),
    url('../fonts/muli/Muli-Light.ttf') format('truetype'),
    url('../fonts/muli/Muli-Light.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* // 400 REGULAR */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/muli/Muli-Italic-Ext.woff2');
  src: url('../fonts/muli/Muli-Italic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/muli/Muli-Italic.woff');
  src: url('../fonts/muli/Muli-Italic.woff') format('woff'),
    url('../fonts/muli/Muli-Italic.woff2') format('woff2'),
    url('../fonts/muli/Muli-Italic.ttf') format('truetype'),
    url('../fonts/muli/Muli-Italic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/muli/Muli-Regular-Ext.woff2');
  src: url('../fonts/muli/Muli-Regular-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/muli/Muli-Regular.woff');
  src: url('../fonts/muli/Muli-Regular.woff') format('woff'),
    url('../fonts/muli/Muli-Regular.woff2') format('woff2'),
    url('../fonts/muli/Muli-Regular.ttf') format('truetype'),
    url('../fonts/muli/Muli-Regular.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* // 600 SEMIBOLD */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/muli/Muli-SemiBoldItalic-Ext.woff2');
  src: url('../fonts/muli/Muli-SemiBoldItalic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/muli/Muli-SemiBoldItalic.woff');
  src: url('../fonts/muli/Muli-SemiBoldItalic.woff') format('woff'),
    url('../fonts/muli/Muli-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/muli/Muli-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/muli/Muli-SemiBoldItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/muli/Muli-SemiBold-Ext.woff2');
  src: url('../fonts/muli/Muli-SemiBold-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/muli/Muli-SemiBold.woff');
  src: url('../fonts/muli/Muli-SemiBold.woff') format('woff'),
    url('../fonts/muli/Muli-SemiBold.woff2') format('woff2'),
    url('../fonts/muli/Muli-SemiBold.ttf') format('truetype'),
    url('../fonts/muli/Muli-SemiBold.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* // 700 BOLD */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/muli/Muli-BoldItalic-Ext.woff2');
  src: url('../fonts/muli/Muli-BoldItalic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/muli/Muli-BoldItalic.woff');
  src: url('../fonts/muli/Muli-BoldItalic.woff') format('woff'),
    url('../fonts/muli/Muli-BoldItalic.woff2') format('woff2'),
    url('../fonts/muli/Muli-BoldItalic.ttf') format('truetype'),
    url('../fonts/muli/Muli-BoldItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/muli/Muli-Bold-Ext.woff2');
  src: url('../fonts/muli/Muli-Bold-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/muli/Muli-Bold.woff');
  src: url('../fonts/muli/Muli-Bold.woff') format('woff'),
    url('../fonts/muli/Muli-Bold.woff2') format('woff2'),
    url('../fonts/muli/Muli-Bold.ttf') format('truetype'),
    url('../fonts/muli/Muli-Bold.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* // 800 EXTRABOLD */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/muli/Muli-ExtraBoldItalic-Ext.woff2');
  src: url('../fonts/muli/Muli-ExtraBoldItalic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/muli/Muli-ExtraBoldItalic.woff');
  src: url('../fonts/muli/Muli-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/muli/Muli-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/muli/Muli-ExtraBoldItalic.ttf') format('truetype'),
    url('../fonts/muli/Muli-ExtraBoldItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/muli/Muli-ExtraBold-Ext.woff2') format('woff2');
  src: url('../fonts/muli/Muli-ExtraBold-Ext.woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/muli/Muli-ExtraBold.woff');
  src: url('../fonts/muli/Muli-ExtraBold.woff') format('woff'),
    url('../fonts/muli/Muli-ExtraBold.woff2') format('woff2'),
    url('../fonts/muli/Muli-ExtraBold.ttf') format('truetype'),
    url('../fonts/muli/Muli-ExtraBold.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* // 900 BLACK */

/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/muli/Muli-BlackItalic-Ext.woff2');
  src: url('../fonts/muli/Muli-BlackItalic-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/muli/Muli-BlackItalic.woff');
  src: url('../fonts/muli/Muli-BlackItalic.woff') format('woff'),
    url('../fonts/muli/Muli-BlackItalic.woff2') format('woff2'),
    url('../fonts/muli/Muli-BlackItalic.ttf') format('truetype'),
    url('../fonts/muli/Muli-BlackItalic.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/muli/Muli-Black-Ext.woff2');
  src: url('../fonts/muli/Muli-Black-Ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/muli/Muli-Black.woff');
  src: url('../fonts/muli/Muli-Black.woff') format('woff'),
    url('../fonts/muli/Muli-Black.woff2') format('woff2'),
    url('../fonts/muli/Muli-Black.ttf') format('truetype'),
    url('../fonts/muli/Muli-Black.svg') format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* RESET */

*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  font-size: 100%;
  vertical-align: baseline;
}
*:before box-sizing border-box,
*:after box-sizing border-box {
  outline: none;
}
*:selection {
  color: #fff;
  background: #808080;
}
body > div:first-child,
#__next,
#__next > div {
  width: 100%;
  height: 100%;
}
html {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  color: #808080;
  background-color: white;
  overflow-x: hidden;
  touch-action: manipulation;
  height: 100%;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #808080;
  margin: 0;
  border: 0;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  vertical-align: baseline;
  -webkit-backface-visibility: hidden;
}
button,
input,
optgroup,
select,
textarea {
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: none;
  resize: none;
  color: #808080;
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled,
[role='button']:disabled,
button.disabled,
[type='button'].disabled,
[type='reset'].disabled,
[type='submit'].disabled,
[role='button'].disabled {
  cursor: default;
}
[role='button'] {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
[role='submit']::-moz-focus-inner {
  padding: 0;
  border: 0;
  border-style: none;
  outline: none;
}
textarea {
  overflow: auto;
  -webkit-appearance: none;
}
select[multiple],
select[size] {
  height: auto;
}
input {
  -webkit-appearance: none;
}
input:disabled {
  cursor: default;
}
input::-moz-focus-inner {
  border: 0;
  outline: 0;
}
[type='search'] {
  -webkit-appearance: none;
  box-sizing: border-box;
}
[type='radio'],
[type='checkbox'] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[type='text']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
[type='search']::-webkit-search-cancel-button {
  display: none;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  display: block;
  width: 100%;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-thumb:focus {
  outline: 0;
}
input[type='range']::-webkit-slider-thumb::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-moz-focus-outer {
  border: 0;
  outline: 0;
}
input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #808080;
}
b,
strong {
  font-weight: bold;
}
img {
  border-style: none;
  width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #8DC3B9;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  * {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-scrollbar-highlight-color: #fff;
    -ms-scrollbar-arrow-color: #d8d8d8;
    -ms-scrollbar-face-color: #d8d8d8;
  }
}
[hidden] {
  display: none;
}
