
  @font-face {
    font-family: 'AppareoMedium';
    src: url('../fonts/AppareoMedium/AppareoMedium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AppareoMedium/AppareoMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/AppareoMedium/AppareoMedium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/AppareoMedium/AppareoMedium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/AppareoMedium/AppareoMedium.svg#AppareoMedium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }